@using BurgerApp.PL.Areas.Admin.Models.MenuViewModel
@using BurgerApp.PL.CommonFunctions

@model CipsViewModel
@{
    var image = CommonFunc.ImageToArray(Model.Image);
}
<form asp-action="">
    <div class="model-body">
        <div class="form-group">
            <label class="fomr-label">Ad</label>
            <input value="@Model.Name" class="form-control" />
        </div>
        <div class="form-group">
            <label class="form-label">Boyut</label>
            <input value="@Model.Size" class="form-control" />
        </div>
        <div class="form-group">
            <label class="form-label">Fiyat</label>
            <input value="@Model.Price" class="form-control" />
        </div>
        <div class="form-group text-center">
            <img class="img-fluid" id="img-@Model.Id" style="object-fit:contain;height:300px" src="@($"data:image/jpeg;base64,{Convert.ToBase64String(image)}")" />
            <input value="@Model.Image" class="form-control" id="input-img-@Model.Id" style="opacity:0;position:absolute;z-index: -2; pointer-events:none" type="file" />
        </div>
    </div>
    <div class="model-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Guncelle</button>
    </div>
</form>

<script>

    $("#img-@Model.Id").click(() => {
        $("#input-img-@Model.Id").click();
    })

    $("#input-img-@Model.Id").change(function () {
        var file = this.files[0];
        if (file && file.type.startsWith('image')) {
            var reader = new FileReader();
            reader.onload = function (e) {

                $("#img-@Model.Id").attr("src", e.target.result);
            };
            reader.readAsDataURL(file);
        }
    });

</script>