@using BurgerApp.PL.Areas.Admin.Models.MenuViewModel
@using BurgerApp.PL.CommonFunctions
@model List<MenuViewModel>

@{
    int index = 1;
}

<table class="table table-hover">
    <thead>
        <tr class="align-items-center">
            <th>#</th>
            <th>Ad</th>
            <th>Resim</th>
            <th>Açıklama</th>
            <th>Burger</th>
            <th>Cips</th>
            <th>İçecek</th>
            <th>Aksiyonlar</th>
        </tr>
    </thead>
    <tbody id="table-list">
        @foreach (var menu in Model)
        {
            <tr>
                <td>@(index++)</td>
                <td>@menu.Name</td>
                <td>
                    @{
                        var image = CommonFunc.ImageToArray(menu.Image);
                    }
                    <img class="img-fluid" style="width:150px;height:100px;object-fit:contain" src="@($"data:image/jpeg;base64,{Convert.ToBase64String(image)}")" alt="Burger Image" />
                </td>
                <td>@menu.Description</td>
                <td>@menu.Burger.Name.ToString()</td>
                <td>@menu.Cips.Name.ToString()</td>
                <td>@menu.Drink.Name.ToString()</td>
                <td>
                    <button data-bs-target="#btn-edit-menu" data-bs-toggle="modal" id="@menu.Id" class="btn btn-edit-menu btn-outline-warning me-2">Düzenle</button>
                    <button data-bs-target="#btn-delete-menu" data-bs-toggle="modal" id="@menu.Id" class="btn btn-delete-menu btn-outline-danger">Sil</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<form id="form-add" asp-action="Add" method="POST" enctype="multipart/form-data">
    <table class="table table-hover">
        <tbody>
            <tr>
                <td>@(index)</td>
                <td><input name="Name" class="form-control" placeholder="Ad" /></td>
                <td><input name="Description" class="form-control" placeholder="Açıklama" /></td>

                <td><select name="BurgerId" class="form-select" asp-items="@(new SelectList(ViewBag.Burgers,nameof(BurgerViewModel.Id),nameof(BurgerViewModel.Name)))"> </select></td>
                <td><select name="CipsId" class="form-select" asp-items="@(new SelectList(ViewBag.Cips,nameof(CipsViewModel.Id),nameof(CipsViewModel.Name)))"></select></td>
                <td><select name="DrinkId" class="form-select" asp-items="@(new SelectList(ViewBag.Drinks,nameof(DrinkViewModel.Id),nameof(DrinkViewModel.Name)))"> </select></td>

                <td><input name="Image" type="file" class="form-control" placeholder="Resim" /></td>
                <td><input name="Price" class="form-control" placeholder="Fiyat" /></td>
                <td><button type="button" id="add-button" class="btn btn-primary w-100">Ekle</button></td>
            </tr>
        </tbody>
    </table>
</form>

<script>

    $("#add-button").click(() => {
        var formData = new FormData($("#form-add")[0]);
        $.ajax({
            url: `/admin/menus/add`,
            method: "POST",
            data: formData,
            processData: false,
            contentType: false,
            success: (data) => {
                console.log("İstek başarıyla tamamlandı:");
                ReInitTable()
            },
            error: (xhr) => {
                console.log("İstek başarısız oldu. Hata kodu:", xhr.status);

            }
        })
    })
    function ReInitTable() {
        $.ajax({
            url: `/admin/menus/getTableList`,
            method: 'GET',
            beforeSend: () => {
                console.log("bekleyin")
            },
            success: (data) => {
                $(".table-responsive").html(data);
                BindButton()
            }
        })
    }

</script>

