@using BurgerApp.DAL.Comman
@using BurgerApp.PL.CommonFunctions
@using BurgerApp.PL.Areas.Admin.Models.MenuViewModel
@model DrinkViewModel

@{
    int index = 1;
}
<table class="table table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Ad</th>
            <th>Resim</th>
            <th>Boyut</th>
            <th>Fiyat</th>
            <th>Aksiyonlar</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var drinks in ViewBag.DrinkList)
        {
            <tr>
                <td> @(index++)   </td>
                <td> @drinks.Name </td>
                <td>
                    @{var image = CommonFunc.ImageToArray(drinks.Image);}
                    <img class="img-fluid" style="width:150px;height:100px;object-fit:contain" src="@($"data:image/jpeg;base64,{Convert.ToBase64String(image)}")" alt="Drink Image" />
                </td>
                <td> @drinks.Size </td>
                <td> @drinks.Price</td>
                <td>
                    <button data-bs-target="#btn-edit-drink" data-bs-toggle="modal" id="@drinks.Id" class="btn btn-edit-drink btn-outline-warning me-2">Duzenle</button>
                    <button data-bs-target="#btn-delete-drink" data-bs-toggle="modal" id="@drinks.Id" class="btn btn-delete-drink btn-outline-danger">Sil</button>
                </td>
            </tr>
        }
    </tbody>
</table>
<form id="form-add" asp-action="Add" method="POST" enctype="multipart/form-data">
    <table class="table table-hover">
        <tbody>
            <tr>
                <td>@(index + 1)</td>
                <td>
                    <input asp-for="Name" class="form-control" placeholder="Ad" />
                    <span id="Name-error" class="text-danger"></span>
                </td>
                <td>
                    <input asp-for="Image"  type="file" class="form-control" placeholder="Resim" />
                    <span id="Image-error" class="text-danger"></span>
                </td>
                <td>
                    <select asp-for="Size"  class="form-select" asp-items="@(Html.GetEnumSelectList<ProductSize>())"></select>
                    <span id="Size-error" class="text-danger"></span>
                </td>
                <td>
                    <input asp-for="Price"  name="Price" class="form-control" value="0" type="number" placeholder="Fiyat" />
                    <span id="Price-error" class="text-danger"></span>
                </td>
                <td>
                    <button type="submit" id="add-button" class="btn btn-primary w-100">Ekle</button>
                </td>
            </tr>
        </tbody>
    </table>
</form>

<script>
    $("#form-add").submit((e) => {
        e.preventDefault();
        var formData = new FormData($("#form-add")[0]);
        $.ajax({
            url: `/admin/drink/add`,
            method: "POST",
            data: formData,
            processData: false,
            contentType: false,
            success: (data) => {
                console.log("İstek başarıyla tamamlandı:");
                ReInitTable()
            },
            error: (xhr) => {
                if (xhr.status === 400) {
                    var errors = xhr.responseJSON;
                    $.each(errors, function (key, value) {
                        console.log(value)
                        $("#" + key + "-error").text(value.join(", "));
                    });
                } else {
                    console.log("İstek başarısız oldu. Hata kodu:", xhr.status);
                }
            }
        })
    })
    function ReInitTable() {
        $.ajax({
            url: `/admin/drink/getTableList`,
            method: 'GET',
            beforeSend: () => {
                console.log("bekleyin")
            },
            success: (data) => {
                $(".table-responsive").html(data);
                BindButton()
            }
        })
    }

</script>